<?xml version="1.0"?>
<!--  /**
    * Copyright © Magento, Inc. All rights reserved.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoEse_MsiInventorySampleDataDemo::index"
             translate="title"
             resource="MagentoEse_MsiInventorySampleDataDemo::index"
             title="Enable/Disable MSI Data"
             action="resetmsiinventory/msireset"
             module="MagentoEse_MsiInventorySampleDataDemo"
             sortOrder="100"
             parent="MagentoEse_SCTools::sctoolsmenu"
             dependsOnModule="Magento_Backend"/>
        <!--<add id="MagentoEse_MsiInventorySampleDataDemo::disable"-->
             <!--translate="title"-->
             <!--resource="MagentoEse_MsiInventorySampleDataDemo::index"-->
             <!--title="MSI Enable"-->
             <!--action="resetmsiinventory/index/enable"-->
             <!--module="MagentoEse_MsiInventorySampleDataDemo"-->
             <!--sortOrder="101"-->
             <!--parent="MagentoEse_SCTools::sctoolsmenu"-->
             <!--dependsOnModule="Magento_Backend"/>-->
    </menu>
</config>